<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col size="8">
        <ion-card-title>@SamyLeal</ion-card-title>
        <ion-card-subtitle>Hace 24 horas</ion-card-subtitle>
      </ion-col>
      <ion-col size="4">
        <ion-button color="ligth" href="/feed" expand="block"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>        
  </ion-card-header>
  <ion-card-content>
    <img  src="https://img.huffingtonpost.com/asset/5f9ac4482900006a16c6aedc.jpeg?cache=JDtJqwhvQi&ops=scalefit_720_noupscale">
  </ion-card-content>
</ion-card>